<p><%= link_to "BACK", threads_path %></p>

<h2>Create New Thread</h2>

<%= simple_form_for TopThread.new, url: threads_create_path do |i| %>
  <p>Title</p>
  <%= i.input :title, label: false %>
  <p>Content</p>
  <%= i.input :content, label: false %>
  <%= i.submit %>
<% end %>
